.container{
    width: 1400px;
    margin: 0 auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header h1{
    font-size: 50px;
}
.header h1 span{
    color: orange;
}

.header h3{
}
.header p{
    color: dimgray;
}
.flex{
    display: flex;
}
.Poster{
    width: 50%;
    padding-left: 10px;
}
.Poster img{
    width: 80%
}
.Link-Btn{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}