.container {
    width: 1500px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header h1 {
    font-size: 50px;
}

.header h1 span {
    color: orange;
}

.header h3 {}

.header p {
    color: dimgray;
    margin-right: 60px;
}

.flex {
    display: flex;
}

.Poster {
    width: 50%;
    padding-left: 10px;
}

.Poster img {
    width: 80%
}

.Link-Btn {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    width: 70px;
    text-align: center;
}

.image {
    background-image: url(../photos/top-banner.png);
    background-repeat: no-repeat;
}

.move {
    margin-top: 10px;
}

.flex-2 {
    display: flex;
    margin-top: 100px;

}

.fw {
    width: 50%;
}

.poster-2 {
    width: 90%;
}

.header-2 h1 {
    font-size: 50px;
}

.header-2 p {
    color: dimgray;
}

.r-btn {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    width: 170px;
    text-align: center;
}

.img-2 {
    background-image: url(../photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.boxes {
    display: flex;
}

.experience-tab h1 {
    font-size: 50px;
}

.experience-tab p {
    color: dimgray;
}

#hdn {
    text-align: center;
    color: #ffa130;

}

.bx-sdw {
    box-shadow: 0px 0px 20px 8px #888888;
    width: 40%;
    margin-left: 65px;
    margin-right: 5px;
    padding: 40px 30px;
}

.experience-tab {
    background-image: url(../photos/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 5px;
    margin-bottom: 50px;
}

.bdr {
    border-left: 7px solid red;
}

.bdr-2 {
    border-left: 7px solid blue;
}

.footer {
    color: dimgray;
    text-align: center;
}

.footer p {
    margin-top: 150px;
}